{% load static%}
<div class="container-fluid bg-white">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'enhancer:file_system' %}">Docs Metadata Enhancer</a>
  
            <div class="col-md-3 text-end">
              <a class="btn btn-primary me-2"href="{% url 'accounts:login' %}" role="button">Войти</a>
              <a class="btn btn-outline-primary me-2"href="{% url 'accounts:signup' %}" role="button">Регистрация</a>
            </div>
        </div>
    </nav>
  </header>
</div>


