{%  extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section mt-3">
    <div class="container p-0" >
        <div class="row d-flex justify-content-start">
            <div class="col-md-3 d-flex flex-column p-0">
              {% include "profile_info_sidebar.html" with active='manager'%}
            </div>
            <div class="col-md-8" >
                <h2 class="mb-3">Панель менеджера</h2>
                {%include 'manager_control_panel_tabs.html' with active='rejected'%}
                <div class="d-flex flex-row justify-content-start flex-wrap" >
                {%if courses%}
                  {%for course in courses%}
                    {%if course.is_available%}
                  <div class="d-flex flex-column justify-content-start mt-3 ms-5" style="max-width: 230px;">
                    <img src="{{course.image.url}}" style="max-width: 230px;" height="130" class="rounded-3" alt="Course Cover Image">
                    <p class="fs-5 fw-bold mt-1 mb-0"><a href="{%url 'courses:index' course.id%}" class="text-decoration-none">{{course.title}}</a></p>
                    <p class="fs-7 text-secondary mt-0">
                      Авторы: {{course.author.first_name}} {{course.author.last_name}} 
                    </p>  
                    <a href="{%url 'courses:course_status_review_revision' course.id%}" class="btn btn-sm btn-danger mt-2" >Отменить</a>
                    <a role="button" href="{%url 'chat:chat_with_user' course.author.id%}" class="btn btn-outline-dark btn-sm mt-1">Написать автору</a>  
                  </div>
                    {%endif%}
                  {%endfor%}
                  {%else%}
                  <p class="mb-3 fs-5">Список пуст.</з>
                  {%endif%}
                </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}